.header {
	background-color: $green-bg;
	font-family: $main-font-1;
	font-size: 1rem;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 117px;
}

.logo {
	display: flex;
	column-gap: 1px;
	&__txt {
		line-height: 21px;
		color: #000000;
	}

	&__img {
		background-image: url("./../assets/icons/logo.svg");
		background-size: cover;
		width: 20px;
		height: 20px;
	}
}

.menu {
	display: flex;
	list-style-type: none;
	column-gap: 46px;
	padding: 0;
	margin: 0;
	&__list {
		text-decoration: none;
		line-height: 50px;
		color: #010201;
		transition: all 0.3s;
	}
	&__list:hover {
		color: $orange;
	}
}

.burger {
	position: relative;
	width: 40px;
	border: none;
	background: none;
	cursor: pointer;
	display: none;
	&__item {
		position: absolute;
		width: 100%;
		left: 0;
		border: 2px solid #717171;
		background-color: #717171;
		transition: all 0.5s;
	}
	&__item:nth-child(1) {
		transform: translateY(-16px);
	}
	&__item:nth-child(2) {
		transform: translateY(-8px);
	}
	&__item:nth-child(4) {
		transform: translateY(8px);
	}
}

.header.open .burger__item:nth-child(2),
.header.open .burger__item:nth-child(3) {
	opacity: 0;
}
.header.open .burger__item:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}
.header.open .burger__item:nth-child(4) {
	transform: translateY(0) rotate(-45deg);
}
@media (max-width: 768px) {
	.menu__list {
		font-weight: 700;
	}
}

@media (max-width: 655px) {
	.header-container {
		height: 96px;
		position: relative;
		overflow-x: hidden;
	}
	.burger {
		display: block;
	}
	.menu {
		position: fixed;
		width: 100%;
		right: -100%;
		padding-top: 96px;
		top: 96px;
		margin: 0;
		padding: 0;
		flex-direction: column;
		align-items: center;
		background-color: $green-bg;
		transition: transform 0.5s;
	}
	.header.open .menu {
		transform: translateX(-100%);
	}
}
