@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");
@import "./scss/variables";
@import "./scss/header";
@import "./scss/welcome";
@import "./scss/about";
@import "./scss/service";
@import "./scss/price";
@import "./scss/contact";
@import "./scss/footer";

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 111px;
	padding-right: 109px;
}

@media (max-width: 768px) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 380px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
}
